<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
   <test name="Test1">
  <parameter name= "abc" value= "chrome"></parameter>
    <classes>
      <class name="com.start1234.WebSiteAuto.NewTestNg"/>
    </classes>
  </test> <!-- Test -->
   
   <test name="Test2">
  <parameter name= "abc" value= "firefox"></parameter>
    <classes>
      <class name="com.start1234.WebSiteAuto.NewTestNg"/>
    </classes>
  </test> <!--Test-->
   
   <test name="Test3">
  <parameter name= "abc" value= "ie"></parameter>
    <classes>
      <class name="com.start1234.WebSiteAuto.NewTestNg"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
